$diameter : 150px;
$crescent:0.25;
$borderWidth:5px;
$top:30px;

.circle-header{
    position: relative;
    display: flex;
    justify-content: center;
    width:100%;
    height : $diameter;
    top:$top;
}

.circle-frame{
    position: relative;
    border-radius: 50%;
    background-color:rgb(3, 68, 94);
    height: $diameter;
    width: $diameter;
  }

.circle-moon{
    position: absolute;
    top:0px; 
    border-radius: 50%;
    background-color:white;
    left:calc(($crescent*$diameter - $borderWidth)/2); 
    border-color: black;
    width:$diameter*(1-$crescent)+2*$borderWidth; 
    height:$diameter*(1-$crescent)+2*$borderWidth;
}


.circle-pic{
    position: relative;
    border-radius: 50%;
    top: 0.5*$borderWidth;
    left:$borderWidth;
    width: $diameter*(1-$crescent); 
    height: $diameter*(1-$crescent); 
    background-size: contain;
}