$diameter : 150px;
$crescent:0.25;
$borderWidth:5px;
$shift:50px;
$banner_height:150px;
$moonColor:rgb(3, 68, 94);

.circle-header{
    background-image: url('../images/clouds_banner.jpg');
    background-size: cover;
    position:relative;
    display: flex;
    justify-content: center;
    width:100%;
    top:0px;
    height:$banner_height;
    margin-bottom:$shift+20px;
}
//box-sizing: border-box;

.circle-frame{
    position: relative;
    border-radius: 50%;
    background-color:$moonColor;
    height: $diameter;
    width: $diameter;
    top:calc($banner_height - $diameter + $shift);
  }

  .circle-frame-horizontal{
    position: relative;
    border-radius: 50%;
    background-color:$moonColor;
    height: $diameter;
    width: $diameter;
    left:calc($banner_height - $diameter + $shift);
  }

.circle-moon{
    position: absolute;
    top:0px; 
    border-radius: 50%;
    background-color:white;
    left:calc(($crescent*$diameter - $borderWidth)/2); 
    border-color: black;
    width:$diameter*(1-$crescent)+2*$borderWidth; 
    height:$diameter*(1-$crescent)+2*$borderWidth;
}


.circle-pic{
    position: relative;
    border-radius: 50%;
    top: 0.5*$borderWidth;
    left:$borderWidth;
    width: $diameter*(1-$crescent); 
    height: $diameter*(1-$crescent); 
    background-size: cover;
}