

.sub-headers{
  margin-bottom:2rem;
  text-align:left;  
  justify-content:left;
  font-size: large;
}

.techno-list{
  margin-bottom:1.5rem;
}


p{
  font-size:1.1rem;
  margin-bottom:1.5rem;
  text-align:left;
  font-style:italic;
}

.intro-p{
text-align: center;
margin-bottom: 1.5rem;
padding: 5%;
margin:0px;
}
